.footer{
    
    background-color: var(--white);
    border-top: var(--border);
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 2rem;
    padding: 2.5rem 2rem;
    color: var(--black);
    margin-top: 24.8rem;
    z-index: 1000;
    
}
.contact .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    top: 100px;
    position: relative;
}