{% extends "web/digital_marketing/partials/d_base.html" %}
{% load static %}
{% block content %}
<section class="home-grid">
   <h1 class="heading">quick options</h1>
   <div class="box-container">
      <div class="box">
         <h3 class="title">likes and comments</h3>
         <p class="likes">total likes : <span>25</span></p>
         <a href="#" class="inline-btn">view likes</a>
         <p class="likes">total comments : <span>12</span></p>
         <a href="#" class="inline-btn">view comments</a>
         <p class="likes">saved playlists : <span>4</span></p>
         <a href="#" class="inline-btn">view playlists</a>
      </div>

      <div class="box">
         <h3 class="title">Providing Courses</h3>
         <div class="flex">
            <a href="#"><i class="fas fa-code"></i><span>web Development</span></a>
            <a href="#"><i class="fas fa-pen"></i><span>Graphic Design</span></a>
            <a href="#"><i class="fas fa-chart-line"></i><span>Digital Marketing</span></a>
            <a href="#"><i class="fa-solid fa-mobile"></i><span>App Development</span></a>
         </div>
      </div>
      <div class="box">
         <h3 class="title"> topics</h3>
         <div class="flex">
            <a href="#"><i class="fab fa-marketing"></i><span>Marketing objective</span></a>
            <a href="#"><i class="fab fa-content"></i><span>Content sytrategy</span></a>
            <a href="#"><i class="fab fa-marketing"></i><span>Social media marketing</span></a>

            <a href="#"><i class="fab fa-adv"></i><span>Social media advertising</span></a>
            <a href="#"><i class="fab fa-seo"></i><span>SEO</span></a>
            <a href="#"><i class="fa-brands fa-sem"></i><span>SEM</span></a>
            <a href="#"><i class="fa-solid fa-display"></i><span>Display advertising</span></a>
            <a href="#"><i class="fa-solid fa-markwting"></i><span>Email Marketing</span></a>
            <a href="#"><i class="fa-solid fa-analytics"></i><span>Marketing analytics</span></a>
            
         </div>
      </div>

      <div class="box">
         <h3 class="title">become a Digital Marketing Expert</h3>
         <p class="tutor">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis, nam?</p>
         <a href="{% url 'web_2:d_topics' %}" class="inline-btn">get started</a>
      </div>

   </div>

</section>



<section class="courses">

   <h1 class="heading">our Topics</h1>

   <div class="box-container">
      {% for c in coursu  %}
  
      <div class="box">
         <div class="tutor">
            <img src="{{c.image.url}}" alt="">
            <div class="info">
               <h3>{{c.authername}}</h3>
               <span>{{c.date}}</span>
            </div>
         </div>
         <div class="thumb">
            <img src="{% static 'web/images/thumb-1.png' %}" alt="">
            <span>{{c.howmany_video}}</span>
         </div>
         <h3 class="title">{{c.video_title}}</h3>
         <a href="{% url 'web_2:d_playlist' %}" class="inline-btn">view playlist</a>
      </div>
     {% endfor %}
   </div>

   <div class="more-btn">
      <a href="{% url 'web_2:d_topics' %}" class="inline-option-btn">view all Topics</a>
   </div>
</section>
{% endblock %}