{% extends "web/digital_marketing/partials/d_base.html" %}
{% load static %}
{% block content %}
<section class="courses">
   <h1 class="heading">our Topics</h1>
   <div class="box-container">
      {% for c in courzu  %}
      <div class="box">
         <div class="tutor">
            <img src="{{c.auther_image.url}}" alt="">
            <div class="info">
               <h3>{{c.authername}}</h3>
               <span>{{c.date}}</span>
            </div>
         </div>
         <div class="thumb">
            <img src="{{c.thumbnail.url}}" alt="">
            <span>{{c.howmany_video}}</span>
         </div>
         <h3 class="title">{{c.video_title}}</h3>
         <a href="{% url 'web_2:playlist_1' c.id %} " class="inline-btn">view playlist</a>
      </div>
      {% endfor %}  
         {% for c in courzu_2  %}
         <div class="box">
            <div class="tutor">
               <img src="{{c.auther_image.url}}" alt="">
               <div class="info">
                  <h3>{{c.authername}}</h3>
                  <span>{{c.date}}</span>
               </div>
            </div>
            <div class="thumb">
               <img src="{{c.thumbnail.url}}" alt="">
               <span>{{c.howmany_video}}</span>
            </div>
            <h3 class="title">{{c.video_title}}</h3>
            <a href="{% url 'web_2:playlist_2' c.id %} " class="inline-btn">view playlist</a>
         </div>
         {% endfor %}  
      
         {% for c in courzu_3  %}
         <div class="box">
            <div class="tutor">
               <img src="{{c.auther_image.url}}" alt="">
               <div class="info">
                  <h3>{{c.authername}}</h3>
                  <span>{{c.date}}</span>
               </div>
            </div>
            <div class="thumb">
               <img src="{{c.thumbnail.url}}" alt="">
               <span>{{c.howmany_video}}</span>
            </div>
            <h3 class="title">{{c.video_title}}</h3>
            <a href="{% url 'web_2:playlist_3' c.id %} " class="inline-btn">view playlist</a>
         </div>
         {% endfor %} 
   </div>
</section>
{% endblock %}