{% extends "web/digital_marketing/partials/d_base.html" %}
{% load static %}
{% block content %}
<section class="form-container">
   <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <h3>update profile</h3>
      <p>Enter Name</p>
      <input type="text" name="name" placeholder="Enter Your Name " maxlength="50" class="box">
      <p>Enter Email</p>
      <input type="email" name="email" placeholder="example@gmail.come" maxlength="50" class="box">
      <p>Your Pic</p>
      <input type="file" accept="image/*" name="image" class="box">
      <input type="submit" value="update profile" name="submit" class="btn">
   </form>
</section>
{% endblock %}