{% extends "web/web_dev/partials/base.html" %}
{% load static %}
{% block content %}
<section class="courses">
   <h1 class="heading">our Topics</h1>
   <div class="box-container">
  {% for c in coursu  %}
      <div class="box">
         <div class="tutor">
            <img src="{{c.auther_image.url}}" alt="">
            <div class="info">
               <h3>{{c.authername}}</h3>
               <span>{{c.date}}</span>
            </div>
         </div>
         <div class="thumb">
            <img src="{{c.thumbnail.url}}" alt="">
            <span>{{c.howmany_video}}</span>
         </div>
         <h3 class="title">{{c.video_title}}</h3>
         <a href="{% url 'web:playlist' c.id %} " class="inline-btn">view playlist</a>
      </div>
      {% endfor %}  
      
      {% for c in coursu_2  %}
      <div class="box">
         <div class="tutor">
            <img src="{{c.auther_image.url}}" alt="">
            <div class="info">
               <h3>{{c.authername}}</h3>
               <span>{{c.date}}</span>
            </div>
         </div>
         <div class="thumb">
            <img src="{{c.thumbnail.url}}" alt="">
            <span>{{c.howmany_video}}</span>
         </div>
         <h3 class="title">{{c.video_title}}</h3>
         <a href="{% url 'web:css_playlist' c.id %}" class="inline-btn">view playlist</a>
      </div>
      {% endfor %}
      
      {% for c in coursu_3  %}
      <div class="box">
         <div class="tutor">
            <img src="{{c.auther_image.url}}" alt="">
            <div class="info">
               <h3>{{c.authername}}</h3>
               <span>{{c.date}}</span>
            </div>
         </div>
         <div class="thumb">
            <img src="{{c.thumbnail.url}}" alt="">
            <span>{{c.howmany_video}}</span>
         </div>
         <h3 class="title">{{c.video_title}}</h3>
         <a href="{% url 'web:js_playlist' c.id %}" class="inline-btn">view playlist</a>
      </div>
      {% endfor %} 

      {% for c in coursu_4  %}
      <div class="box">
         <div class="tutor">
            <img src="{{c.auther_image.url}}" alt="">
            <div class="info">
               <h3>{{c.authername}}</h3>
               <span>{{c.date}}</span>
            </div>
         </div>
         <div class="thumb">
            <img src="{{c.thumbnail.url}}" alt="">
            <span>{{c.howmany_video}}</span>
         </div>
         <h3 class="title">{{c.video_title}}</h3>
         <a href="{% url 'web:bootstrap_playlist' c.id %}" class="inline-btn">view playlist</a>
      </div>
      {% endfor %} 
      
      {% for c in coursu_5  %}
      <div class="box">
         <div class="tutor">
            <img src="{{c.auther_image.url}}" alt="">
            <div class="info">
               <h3>{{c.authername}}</h3>
               <span>{{c.date}}</span>
            </div>
         </div>
         <div class="thumb">
            <img src="{{c.thumbnail.url}}" alt="">
            <span>{{c.howmany_video}}</span>
         </div>
         <h3 class="title">{{c.video_title}}</h3>
         <a href="{% url 'web:react_playlist' c.id %}" class="inline-btn">view playlist</a>
      </div>
      {% endfor %} 


      {% for c in coursu_6  %}
      <div class="box">
         <div class="tutor">
            <img src="{{c.auther_image.url}}" alt="">
            <div class="info">
               <h3>{{c.authername}}</h3>
               <span>{{c.date}}</span>
            </div>
         </div>
         <div class="thumb">
            <img src="{{c.thumbnail.url}}" alt="">
            <span>{{c.howmany_video}}</span>
         </div>
         <h3 class="title">{{c.video_title}}</h3>
         <a href="{% url 'web:python_playlist' c.id %}" class="inline-btn">view playlist</a>
      </div>
      {% endfor %} 

      {% for c in coursu_7  %}
      <div class="box">
         <div class="tutor">
            <img src="{{c.auther_image.url}}" alt="">
            <div class="info">
               <h3>{{c.authername}}</h3>
               <span>{{c.date}}</span>
            </div>
         </div>
         <div class="thumb">
            <img src="{{c.thumbnail.url}}" alt="">
            <span>{{c.howmany_video}}</span>
         </div>
         <h3 class="title">{{c.video_title}}</h3>
         <a href="{% url 'web:psql_playlist' c.id %}" class="inline-btn">view playlist</a>
      </div>
      {% endfor %} 

   </div>
</section>
{% endblock  %}