{% extends "web/web_dev/partials/base.html" %}
{% load static %}
{% block content %}
<section class="form-container">
   <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <h3>update profile</h3>
      <p>update name</p>
      <input type="text" name="student_name" placeholder="Enter Your Name" maxlength="50" class="box">
      <p>update email</p>
      <input type="email" name="student_email" placeholder="example@gmail.come" maxlength="50" class="box">
      <p>update pic</p>
      <input type="file" accept="image/*" class="box" name='student_image'>
      <input type="submit" value="update profile" name="submit" class="btn">
   </form>
</section>
{% endblock  %}